### Growth Hacking with NLP LiveProject
### Student: Jeremy Loscheider
### Assignment: 1.1 Creating dataset

In [1]:
pip install ndjson

Requirement already satisfied: ndjson in b:\users\thaddeusryan\anaconda3\lib\site-packages (0.3.1)
Note: you may need to restart the kernel to use updated packages.

In [2]:
pip install altair

Requirement already satisfied: altair in b:\users\thaddeusryan\anaconda3\lib\site-packages (4.1.0)
Requirement already satisfied: jsonschema in b:\users\thaddeusryan\anaconda3\lib\site-packages (from altair) (3.0.1)
Requirement already satisfied: toolz in b:\users\thaddeusryan\anaconda3\lib\site-packages (from altair) (0.10.0)
Requirement already satisfied: numpy in b:\users\thaddeusryan\anaconda3\lib\site-packages (from altair) (1.16.4)
Requirement already satisfied: jinja2 in b:\users\thaddeusryan\anaconda3\lib\site-packages (from altair) (2.10.1)
Requirement already satisfied: pandas>=0.18 in b:\users\thaddeusryan\anaconda3\lib\site-packages (from altair) (0.24.2)
Requirement already satisfied: entrypoints in b:\users\thaddeusryan\anaconda3\lib\site-packages (from altair) (0.3)
Requirement already satisfied: attrs>=17.4.0 in b:\users\thaddeusryan\anaconda3\lib\site-packages (from jsonschema->altair) (19.1.0)
Requirement already satisfied: pyrsistent>=0.14.0 in b:\users\thaddeusryan\anaconda3\lib\site-packages (from jsonschema->altair) (0.14.11)
Requirement already satisfied: setuptools in b:\users\thaddeusryan\anaconda3\lib\site-packages (from jsonschema->altair) (41.0.1)
Requirement already satisfied: six>=1.11.0 in b:\users\thaddeusryan\anaconda3\lib\site-packages (from jsonschema->altair) (1.12.0)
Requirement already satisfied: MarkupSafe>=0.23 in b:\users\thaddeusryan\anaconda3\lib\site-packages (from jinja2->altair) (1.1.1)
Requirement already satisfied: pytz>=2011k in b:\users\thaddeusryan\anaconda3\lib\site-packages (from pandas>=0.18->altair) (2019.1)
Requirement already satisfied: python-dateutil>=2.5.0 in b:\users\thaddeusryan\anaconda3\lib\site-packages (from pandas>=0.18->altair) (2.8.0)
Note: you may need to restart the kernel to use updated packages.

In [3]:
pip install imbalanced-learn

Requirement already satisfied: imbalanced-learn in b:\users\thaddeusryan\anaconda3\lib\site-packages (0.6.2)
Requirement already satisfied: scikit-learn>=0.22 in b:\users\thaddeusryan\anaconda3\lib\site-packages (from imbalanced-learn) (0.23.1)
Requirement already satisfied: joblib>=0.11 in b:\users\thaddeusryan\anaconda3\lib\site-packages (from imbalanced-learn) (0.13.2)
Requirement already satisfied: scipy>=0.17 in b:\users\thaddeusryan\anaconda3\lib\site-packages (from imbalanced-learn) (1.2.1)
Requirement already satisfied: numpy>=1.11 in b:\users\thaddeusryan\anaconda3\lib\site-packages (from imbalanced-learn) (1.16.4)
Requirement already satisfied: threadpoolctl>=2.0.0 in b:\users\thaddeusryan\anaconda3\lib\site-packages (from scikit-learn>=0.22->imbalanced-learn) (2.1.0)
Note: you may need to restart the kernel to use updated packages.

In [1]:
import ndjson as nj
import altair as al
import pandas as pd
import os
from imblearn import under_sampling as imus

In [2]:
### Get data
os.getcwd()

'C:\\Users\\ThaddeusRyan.000'

In [3]:
os.chdir('B:\LearningR\VideoGameReviews')
print(os.getcwd())
filePath = os.getcwd()

B:\LearningR\VideoGameReviews

In [4]:
os.listdir()

['Video_Games_5.json']

In [5]:
###1.1.2 Import data
print(os.listdir(filePath))
with open('B:\LearningR\VideoGameReviews\Video_Games_5.json') as v:
    data = nj.load(v)
type(data)

['Video_Games_5.json']

list

In [6]:
### Validate
print("There are %i rows." %len(data))
print(data[2001])

There are 497577 rows.
{'overall': 5.0, 'verified': True, 'reviewTime': '04 20, 2016', 'reviewerID': 'A2CYSH49Y0F80', 'asin': 'B00000I1BS', 'reviewerName': 'Matthew S Paradie', 'reviewText': 'great game', 'summary': 'Five Stars', 'unixReviewTime': 1461110400}

In [7]:
### parse into a table
vg_reviews = pd.DataFrame(data)
vg_reviews.head()

,asin,image,overall,reviewText,reviewTime,reviewerID,reviewerName,style,summary,unixReviewTime,verified,vote
0,0700026657,NaN,5.0,"This game is a bit hard to get the hang of, bu...","10 17, 2015",A1HP7NVNPFMA4N,Ambrosia075,NaN,but when you do it's great.,1445040000,True,NaN
1,0700026657,NaN,4.0,I played it a while but it was alright. The st...,"07 27, 2015",A1JGAP0185YJI6,travis,NaN,"But in spite of that it was fun, I liked it",1437955200,False,NaN
2,0700026657,NaN,3.0,ok game.,"02 23, 2015",A1YJWEXHQBWK2B,Vincent G. Mezera,NaN,Three Stars,1424649600,True,NaN
3,0700026657,NaN,2.0,"found the game a bit too complicated, not what...","02 20, 2015",A2204E1TH211HT,Grandma KR,NaN,Two Stars,1424390400,True,NaN
4,0700026657,NaN,5.0,"great game, I love it and have played it since...","12 25, 2014",A2RF5B5H74JLPE,jon,NaN,love this game,1419465600,True,NaN

In [8]:
### Those lines don't look right
data[0]

{'overall': 5.0,
 'verified': True,
 'reviewTime': '10 17, 2015',
 'reviewerID': 'A1HP7NVNPFMA4N',
 'asin': '0700026657',
 'reviewerName': 'Ambrosia075',
 'reviewText': "This game is a bit hard to get the hang of, but when you do it's great.",
 'summary': "but when you do it's great.",
 'unixReviewTime': 1445040000}

In [9]:
data[1]

{'overall': 4.0,
 'verified': False,
 'reviewTime': '07 27, 2015',
 'reviewerID': 'A1JGAP0185YJI6',
 'asin': '0700026657',
 'reviewerName': 'travis',
 'reviewText': 'I played it a while but it was alright. The steam was a bit of trouble. The more they move these game to steam the more of a hard time I have activating and playing a game. But in spite of that it was fun, I liked it. Now I am looking forward to anno 2205 I really want to play my way to the moon.',
 'summary': 'But in spite of that it was fun, I liked it',
 'unixReviewTime': 1437955200}

In [10]:
#### Okay, something in the data creation process parses the line after the comma into the summary ... not something I did

In [11]:
### Did pandas parse the fields correctly?
vg_reviews.groupby(['overall']).count()

,asin,image,reviewText,reviewTime,reviewerID,reviewerName,style,summary,unixReviewTime,verified,vote
overall,,,,,,,,,,,
1.0,30883,277,30879,30883,30883,30877,18613,30876,30883,30883,14241
2.0,24135,121,24133,24135,24135,24132,14295,24130,24135,24135,8902
3.0,49146,259,49140,49146,49146,49132,28954,49144,49146,49146,14354
4.0,93654,648,93644,93654,93654,93640,53656,93645,93654,93654,22790
5.0,299759,2329,299623,299759,299759,299720,173719,299673,299759,299759,47506

In [12]:
vg_reviews.groupby(['verified']).count()

,asin,image,overall,reviewText,reviewTime,reviewerID,reviewerName,style,summary,unixReviewTime,vote
verified,,,,,,,,,,,
False,164932,1249,164932,164915,164932,164932,164916,98206,164911,164932,70174
True,332645,2385,332645,332504,332645,332645,332585,191031,332557,332645,37619

In [29]:
bars = al.Chart(vg_reviews).mark_bar().encode(
    x=al.X('overall', bin=al.Bin(maxbins=5)),
     y= 'count(*):Q'
)

In [34]:
### Summarize for visualization because Altair can't handle more than 5k rows
vg_sum = vg_reviews.groupby('overall').agg({'asin':'count'}).reset_index()
vg_sum.head(5)

   overall    asin
0      1.0   30883
1      2.0   24135
2      3.0   49146
3      4.0   93654
4      5.0  299759

In [35]:
bars = al.Chart(vg_sum).mark_bar().encode(
    x = 'overall:Q',
    y = 'asin:Q')

In [36]:
bars

alt.Chart(...)

In [122]:
###1.1.4 Randomly sample 1500-500-500-500-1500 for {1:5} ratings
y = vg_reviews['overall']
colx = [c for c in vg_reviews.columns if c != 'overall']
x = vg_reviews[colx]
sampStrat = {1:1500,2:500,3:500,4:500,5:1500}
print(sampStrat)

{1: 1500, 2: 500, 3: 500, 4: 500, 5: 1500}

In [64]:
rus = imus.RandomUnderSampler(random_state=42, sampling_strategy=sampStrat)

In [65]:
X_res, Y_res = rus.fit_sample(x,y)

In [66]:
### Check
Y_res.value_counts()

5.0    1500
1.0    1500
4.0     500
3.0     500
2.0     500
Name: overall, dtype: int64

### Get second set of randomly-selected

In [37]:
import numpy as np

In [53]:
# Array size
size_array = vg_reviews['asin'].count()

# Asked to use randint, ceate a series of uniformly-distributed numbers
np.random.seed(42)
vg_reviews['in_flag'] = np.random.randint(0, size_array, vg_reviews.shape[0])

vg_reviews.head(2)

,asin,image,overall,reviewText,reviewTime,reviewerID,reviewerName,style,summary,unixReviewTime,verified,vote,in_flag
0,0700026657,NaN,5.0,"This game is a bit hard to get the hang of, bu...","10 17, 2015",A1HP7NVNPFMA4N,Ambrosia075,NaN,but when you do it's great.,1445040000,True,NaN,121958
1,0700026657,NaN,4.0,I played it a while but it was alright. The st...,"07 27, 2015",A1JGAP0185YJI6,travis,NaN,"But in spite of that it was fun, I liked it",1437955200,False,NaN,146867

In [77]:
### Validate
print(vg_reviews[vg_reviews['in_flag']<=100000]['asin'].count())
vg_100k = vg_reviews[vg_reviews['in_flag']<=100000]['asin']

100051

In [78]:
### Balanced for output Output
balanced_out = vg_100k
balanced_out.to_csv('balanced_100k.csv', index=False)

B:\Users\ThaddeusRyan\Anaconda3\lib\site-packages\ipykernel_launcher.py:3: FutureWarning: The signature of `Series.to_csv` was aligned to that of `DataFrame.to_csv`, and argument 'header' will change its default value from False to True: please pass an explicit value to suppress this warning.
  This is separate from the ipykernel package so we can avoid doing imports until

In [133]:
## Combine imbalanced and output
imbalanced_out = pd.concat([X_res,Y_res], axis=1)
# imbalanced_O, columns=[colx])
imbalanced_out.to_csv('imbalanced_4500.csv', index=False)